<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Table</title>
    {% load static %}
    <link href="{% static 'css/pulbicser.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="{% url 'create-country' %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New Country</a>
                            <a href="{% url 'home' %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i>Go back</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th><span>Country</span></th>
        <th><span>Population</span></th>
                            </tr>
                        </thead>
                        <tbody>

                                {% for country in countr %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{% url 'update-country' country.cname %}"><img src="{% static 'img/edit.png' %} " alt="HTML tutorial" style="width:35px;height:35px;"></a>
                                    <a href="{% url 'delete-country' country.cname %}"><img src="{% static 'img/delete.png' %} " alt="HTML tutorial" style="width:35px;height:35px;"></a>
                                </td>


                                     <td style="text-align: center; vertical-align: middle;">{{ country.cname }}</td>
                                    <td style="text-align: center; vertical-align: middle;">{{ country.population }}</td>


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>












