<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specializes Table</title>
     {% load static %}
     <link href="{% static 'css/pulbicser.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="{% url 'create-specialize' %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New Specialize</a>
                            <a href="{% url 'home' %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i>Go back</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action</th>

                                     <th>ID</th>
                                        <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                              {% for special in specialize %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{% url 'update-specialize' special.id %}"><img src="{% static 'img/edit.png' %} " alt="HTML tutorial" style="width:35px;height:35px;"></a>
                                    <a href="{% url 'delete-specialize' special.id %}"><img src="{% static 'img/delete.png' %} " alt="HTML tutorial" style="width:35px;height:35px;"></a>
                                </td>



        <td style="text-align: center; vertical-align: middle;">{{ special.sid }}</td>
        <td style="text-align: center; vertical-align: middle;">{{ special.email }}</td>

                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>





